@import url(./blocks/header.css);
@import url(./blocks/promo.css);
@import url(./blocks/about.css);
@import url(./blocks/picture.css);
@import url(./blocks/architecture.css);
@import url(./blocks/brands.css);
@import url(./blocks/footer.css);

.container {
    max-width: 1300px;
    margin: 0 auto;
}

body {
    font-family: Open Sans;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}