.brands {
    padding: 67px 0 240px;
    background-color: #EBEBEB;
}

.brands_list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.brands_item {
    /* list-style: square;
    color: #99823D;
    padding-left: 45px;
    font-size: 25px; */
    position: relative;
}

.brands_item::before {
    content: "";
    width: 9px;
    height: 9px;
    background: #99823D;
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.brands_item:nth-child(1)::before {
    display: none;
}