.footer {
    background: #141414;
    position: relative;
    height: 239px;
    padding-bottom: 16px;
}

.footer_rectangle {
    background: #141414e6;
    ;
    padding: 68px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -150px;
    width: 85%;
    align-items: flex-end;
}

.footer_form {
    height: 204px;
    background: #99823D;
    position: absolute;
    padding: 68px;
    top: 120px;
    display: flex;
    gap: 17px;
}

.footer_form input {
    width: 860px;
    height: 68px;
    background: #FFF;
    color: #3D3D3D;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
    padding-left: 20px;
    border: none;
    outline: none;
}

.footer_form-btn {
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
    background: #141414;
    width: 155px;
    padding: 17px 36px;
    height: 68px;
    border: none;
}

.footer_menu-link {
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
}

.footer_menu {
    display: flex;
    gap: 37px;
    align-items: center;
}

.footer .container {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.footer_link {
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
}

.footer_list {
    display: flex;
    gap: 36px;
}

.footer_box span {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
}

.footer_box span:nth-child(2) {
    color: #FFF;
}

.footer_wrapper {
    padding: 0 68px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}